/* Table of content */

/* 1. Basic resets */

/* 2.General Styling */

/* 3.Index page */

/* 4. About us page */

/* Table of content ends */

/****************************************************************
*****************************************************************
******************************************************************/

/********************** 1. Basic resets starts *******************/

:root{
  --primary-color:#002147;
  --secondary-color:#5656f1;
  --accent-color:#214700;
  --plain-color:#eee3f8;
  --bg-color:#ffffff;
  --accent-color2:#ffc93c;
}

:root.darkmode{
  --primary-color:#f3f3f3;
  --secondary-color:#8f8fec;
  --accent-color:#214700;
  --plain-color:#eee3f8;
  --bg-color:#002147;
  --accent-color2:#ffc93c;
}

:root{
  --h1font-size:2.3rem;
  --h1font-weight:700;
  --h2font-size:1.7rem;
  --h2font-weight:600;
  --h3font-size:1.2rem;
  --h3font-weight:500;
  --pfont-size:1rem;
  --btnfont-weight:600;
}

/* remove all browser defaults */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  font-optical-sizing: auto;
  transition: all 5s ease;
  background-color: var(--bg-color);
}

/* remove border from all buttons and center the text within */
button,
button:is(:hover, :focus-visible) {
  line-height: 0;
  border: 0;
}

/* to remove all list decoration */
ul {
  list-style: none;
}

/* remove all underline decorations frm the anchor tags */
a {
  text-decoration: none;
}

/* makes images easier to work with */
img,
video,
picture,
svg {
  max-width: 100%;
  display: inline-block;
}


/********************** 1. Basic resets ends*******************/

/****************************************************************
*****************************************************************
******************************************************************/

/* 2.General Styling */

.two-cols-section {
  display: grid;
}

.section-padding {
  padding: 2rem;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: no-wrap;
  border: 0;
}

/* 2.General Styling ends here*/


/* header starts here */
header{
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header img{
  width: 10rem;
}

.light-logo{
  display: block;
}

.dark-logo{
  display: none;
}

.darkmode .light-logo{
  display: none;
}

.darkmode .dark-logo {
  display: block;
}

.nav-links{
  display: flex;
  gap: 1.5rem;
}

.nav-links a{
  color: var(--primary-color);
  font-size: 0.9rem;
}

.cta-btn a{
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 10px 15px;
  border-radius: 50px;
}

.side-icons{
  display: flex;
  align-items: center;
}

.hamburger{
  display: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-color);
}

.mode-toggle{
 font-size: 2rem;
 color: var(--primary-color);
 transition: color 1.5s ease;
 cursor: pointer;
}

.nav-links a:is(:hover, :focus-visible), .mode-toggle:is(:hover, :focus-visible){
  transition: color 5s ease;
  color: var(--secondary-color);
}

.nav-links a.active{
  color: var(--secondary-color);
}

.mode-toggle .sun{
  opacity: 0;
  transform: translateX(-20px) rotate(90deg);
}

.mode-toggle .moon{
   opacity: 1;
  transform: translateX(0) rotate(0deg);
}

.darkmode .mode-toggle .sun{
  opacity: 1;
  transform: translateX(-30px) rotate(0deg);
}

.darkmode .mode-toggle .moon{
   opacity: 0;
  transform: translateX(-20px) rotate(90deg);
}

.dropdown{
  position: relative;
}

.dropdown-content{
  display: none;
  position: absolute;
  width: 300px;
  background-color: var(--secondary-color);
  border-radius: 10px;
   padding: 1rem;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.dropdown-content a{
  color: #ffffff;
}

.dropdown-content li{
  padding: 0.5rem;
}

.dropdown-content a:hover, .cta-btn a:hover{
  color: #bdbdbd;
}
.dropdown:hover .dropdown-content{
  display: block;
}

/* header ends here */

/********************/

/* hero starts here */
.hero{
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.hero::before{
  background-image: radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  content: "";
  inset: 0;
  position: absolute;
  height: 100vh;
  overflow: 0;
}

.hero-content, .hero-carousel{
  z-index: 50;
  position: relative;
}

.hero-content{
  width: 60%;
  color: var(--plain-color);
  padding:10rem 2rem;
}

.hero-content h1{
 font-size: var(--h1font-size);
 font-weight: var(--h1font-weight);
  line-height: 4rem;
}

.hero-content p{
  font-size: var(--pfont-size);
  padding-block-end: 3rem;
}

.cta-div{
  display: flex;
  gap: 2rem
}

.cta a{
 background-color: var(--accent-color2);
 color: var(--primary-color);
 padding: 12px 18px;
 font-weight: var(--btnfont-weight);
 border-radius: 30px;
}

.cta a:is(:hover, :focus-visible){
  background-color: var(--primary-color);
  color: var(--accent-color2);
}

.hero-carousel{
  padding: 10rem 0;
}

.carousel-bg{
  background-image: radial-gradient(rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1));
  border-top-left-radius: 20rem;
  border-bottom-left-radius: 20rem;
}

.hero-carousel img{
  width: 70%;
  border-radius: 50rem;
  border: 4px solid #ffc93c;
  transition: transform 0.3s ease;
    transform: translate(-2rem, 2rem); 
}

.hero-carousel img{
  display: block;
}

.card-btn-div{
  position: relative;
  z-index: 30;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-block-start: 2rem;
  padding-inline-end: 2rem;
}

.card-btn span{
  cursor: pointer;
  background-color: var(--plain-color);
  color:var(--primary-color);
  text-align: right;
  padding: 3px 10px;
  border-radius: 3px;
}

.card-btn span:is(:hover, :focus-visible){
  background-color: #bdbdbd;
}

/* hero ends here */

/*services section starts here*/

.services{
  padding: 4rem 6rem;
}

.services-text{
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

.services h2{
  font-size: var(--h2font-size);
  font-weight: var(--h2font-weight);
  color: var(--primary-color);
}

.service-cards{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding-block-start: 2rem;
}

.cards{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cards img{
  width: 100%;
  height: 25rem;
 object-fit: cover;
 overflow: hidden;
 border-radius: 15px;
}

.card-text span i{
  background-color: var(--primary-color);
  font-size: 2.5rem;
  padding:15px;
  border-radius: 50px;
  top: 2rem;
  position: relative;
}

.card-text div{
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 2rem 1rem 1rem 1rem;
}

.card-text{
  align-self: center;
  position: absolute;
  display: block;
  bottom: 0.5rem;
  width: 95%;
  left: 0;
  right: 0;         /* allows margin auto to center */
  margin: auto;
  /* background-color: var(--primary-color); */
  text-align: center;
}

.card-text h3{
  color: var(--accent-color2);
  font-size: var(--h3font-size);
  font-weight: var(--h3font-weight);
}

.card-text p{
  font-size:0.8rem;
}

.card-text span i, .card-text p{
  color: var(--plain-color);
}

/*services section ends here*/

/***** mobile view ****/

@media (max-width: 768px) {
  /* 2.General Styling starts */

  .two-cols-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* 2.General Styling ends */

  /* header */
  .nav-links{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 120px;
    left: 0;
    padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .nav-links.active{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }

  .hamburger{
    display: block;
  }

  .hero-content{
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .hero-content h1{
    padding-block-end: 2rem;
  }

  .services{
  padding:2rem 4rem;
}


  .services-text p, .services h2{
    text-align: center;
  }

  .services-text{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
.cta-div{
  flex-direction: column;
  justify-content: center;
}

  .hero-carousel{
    display: none;
  }

  .service-cards{
  grid-template-columns: repeat(1, 1fr);
  
}
}